.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color:whitesmoke;
    background-color: darkorchid;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    
}
.btn-contato button:hover, form .btn-submit input:hover{
    box-shadow: 0px 0px 8px rgb(98, 31, 131);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transform: scale(1.05);
    
}


header{
    padding: 40px 4%;
}

header img{
    width: 70px;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/*TOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
    margin: 65px;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap:250px;
}

.topo-do-site h1{
    color:white;
    font-size: 50px;
    margin: 0 0 40px 0px;
}

.topo-do-site img{
    width: 400px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

.container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-container {
    margin: 0 30px;
    overflow: hidden;
}
.card {
    background: #181818;
    border-radius: 8px;
}
.card .image-box {
    display: flex;
    justify-content: center;
    height: 210px;
}
.card .image-box img {
    height: 210px;
    width: 210px;
    border-radius: 150px;
}
.card .profile-details {
    text-align: center;
    column-gap: 12px;
    padding: 15px;
}
.card .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 0%;
}
.profile-details .name {
    font-size: 16px;
    font-weight: 700px;
    color: white;
}
.swiper-navBtn {
    color: #000000;
    height: 40px;
    width: 40px;
    background: #ffffff;
    border-radius: 50%;
    
}
.profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;

}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 18px;
}
.swiper-pagination-bullet {
    background-color: #ffffff;
}
@media screen and (max-width: 768px) {
.swiper-navBtn {
    display: none;
}
}
.topo-do-site h1{
    font-family: "Montserrat", sans-serif;
}

.especialitys-title{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 30px;
    margin: 80px;
    
    
}

section.about{
    padding: 0px, 4%;
    margin: 80px
}
section.about .flex{
    align-items: center;
    gap: 60px;
}
section.about .interface{
    display: flex;
    align-items: center;
}
.img-about img{
    width: 350px;
    border-radius: 50px;
    margin: 40px;
}

.about .txt-about{
    color: whitesmoke;
}
.about .txt-about h2{
    color: whitesmoke;
    font-size: 40px;
}
.about .txt-about p{
    margin: 20px  0;
}
.about .txt-about .btn-media button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:  rgb(98, 31, 131);
    font-size: 18px;
    color: whitesmoke;
    cursor: pointer;
    margin: 0 5px
}
.about .txt-about .btn-media button:hover{
    box-shadow: 0px 0px 8px rgb(98, 31, 131);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transform: scale(1.05);
}
.knowledge-title{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 30px;
    margin: 80px;
    
}

section.knowledge #container{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.knowledge #container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin: 30px;
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: .2s;
}
section.knowledge #container div:hover{
    height: 155px;
    width: 155px; 
    background-color: whitesmoke;
    border-radius: 20px;
    
    transform: scale(1.05);
}
section.knowledge #container div img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 90px;
    width: 90px;
}

.form-title{
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 30px;
    margin: 50px;
    
}
section.form{
    padding: 50px 4%;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
form input, form textarea{
    width: 100%;
    background-color: #282828;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 10px;
    color: whitesmoke;
}
form textarea{
    resize: none;

}

form .btn-submit{
    margin-top: 10px;
    text-align: center;
}

form .btn-submit input{
    width: 170px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color:whitesmoke;
    background-color:  rgb(98, 31, 131);
    cursor: pointer;
    transition: .2s;
    border-radius: 30px;
}
#line {
    width: 100%;
    border-bottom: 1px solid #373737;
}
.Copyright h1{
    color: rgb(88, 88, 88);
    font-size: 10px;
    text-align: center;
    padding: 30px;
}